<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="~/css/site.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/fonts.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Ecocys.Admin.Web.styles.css" asp-append-version="true" />
</head>
<body>
    <div class="page-inner">
        <div class="d-flex justify-content-center align-items-center">
            <div class="card" style="width: 70%;min-height:500px;">
                <div class="card-body">
                    @RenderBody()
                </div>
            </div>
        </div>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/jquery-scrollbar/jquery.scrollbar.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>