@using Ecocys.Admin.Core.Master
@model Product
@{

}
<form asp-controller="Master" asp-action="AddUpdateProduct" method="post" enctype="multipart/form-data">
    <input type="hidden" asp-for="CategoryId" value="@ViewBag.CategoryId" />
    <input type="hidden" asp-for="ProductId" />

    <div class="row mb-3">
        <div class="col-6">
            <label for="ProductName" class="form-label">Product Name</label>
            <input type="text" class="form-control" asp-for="ProductName" required />
        </div>
        <div class="col-6">
            <label for="VariantType" class="form-label">Variant Type</label>
            <input type="text" class="form-control" asp-for="VariantType" required />
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-6">
            <label for="VariantValue" class="form-label">Variant Value</label>
            <input type="text" class="form-control" asp-for="VariantValue" required />
        </div>
        <div class="col-6">
            <label for="CompanyName" class="form-label">Company Name</label>
            <input type="text" class="form-control" asp-for="CompanyName" />
        </div>
    </div>

    <div class="mb-3">
        <label for="Description" class="form-label">Description</label>
        <textarea class="form-control" asp-for="Description"></textarea>
    </div>

    <div class="row mb-3">
        <div class="col-6">
            <label for="WeightInGrams" class="form-label">Weight (in grams)</label>
            <input type="number" class="form-control" asp-for="WeightInGrams" min="0" required />
        </div>
        <div class="col-6">
            <label for="ImageName" class="form-label">Image</label>
            <input type="file" class="form-control" id="File" name="File" @(Model?.ProductId > 0 ? "" : "required") />
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-6">
            <label for="Stock" class="form-label">Stock (Total Quantity)</label>
            <input type="number" class="form-control" asp-for="Stock" min="0" required />
        </div>
        <div class="col-6">
            <label for="Quantity" class="form-label">Available Quantity</label>
            <input type="number" class="form-control" asp-for="Quantity" min="0" required />
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-6">
            <label for="MRP" class="form-label">MRP</label>
            <input type="number" class="form-control" asp-for="MRP" min="0" step="0.01" required />
        </div>
        <div class="col-6">
            <label for="Price" class="form-label">Price</label>
            <input type="number" class="form-control pricing" asp-for="Price" min="0" step="0.01" required />
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-6">
            <label for="DiscountPercentage" class="form-label">Discount (%)</label>
            <input type="number" class="form-control pricing" asp-for="DiscountPercentage" min="0" max="100" />
        </div>
        <div class="col-6">
            <label for="DiscountAmount" class="form-label">Discount Amount</label>
            <input type="number" class="form-control pricing" asp-for="DiscountAmount" step="0.01" />
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-6">
            <label for="ActualPrice" class="form-label">Actual Price</label>
            <input type="number" class="form-control" asp-for="ActualPrice" step="0.01" readonly />
        </div>
        <div class="col-6">
            <label for="GSTPercentage" class="form-label">GST (%)</label>
            <input type="number" class="form-control pricing" asp-for="GSTPercentage" min="0" max="100" required />
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-6">
            <label for="GSTAmount" class="form-label">GST Amount</label>
            <input type="number" class="form-control" asp-for="GSTAmount" step="0.01" readonly />
        </div>
        <div class="col-6">
            <label for="FinalPrice" class="form-label">Final Price</label>
            <input type="number" class="form-control" asp-for="FinalPrice" step="0.01" readonly />
        </div>
    </div>

    <button type="submit" class="btn btn-primary">@(Model?.ProductId > 0 ? "Update" : "Save")</button>
    <a asp-controller="Master" asp-action="ProductVariant" class="btn btn-danger">Cancel</a>
</form>
